// radius
$radius-8: 8px;

// spacing
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-20: 20px;

// colors
$white: #fff;
$ligth-grey: #e0e0e0;
$grey: #ccc;
$blue: #007bff;
$box-shadow-light: 0 2px 4px rgb(0 0 0 / 10%);
