
// radius
$radius-8: 8px;

// spacing
$spacing-10: 10px;
$spacing-12: 12px;
$spacing-20: 20px;

// colors
$white: #FFFFFF;
$ligth-grey: #E0E0E0;
$grey: #CCCCCC;
$blue: #007BFF;

$box-shadow-light: 0 2px 4px rgba(0, 0, 0, 0.1);

