@use "@styles/variables" as *;

.card {
  width: 100%;
  max-width: 300px;
  padding: $spacing-12;
  margin: $spacing-12;
  overflow: hidden;
  background-color: $white;
  border: 1px solid $grey;
  border-radius: $radius-8;
  box-shadow: $box-shadow-light;

  @media screen and (width >= 380px) {
    width: 300px;
    padding: $spacing-20;
    margin: $spacing-20;
  }
}
